.row_container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.row_item {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    width: 100%;
    height: 2.5rem;
    color: black;
    align-items: baseline;
    background-color: #9c9c9c;
}

.row_item:hover {
    background-color: #858585;
}

.title_container {
    display: flex;
    gap: 2rem;
    align-items: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.row_item_title {
    font-size: 1.5rem;
}

.row_item_subtitle {
    font-size: 1.2rem;
    color: rgb(47, 47, 47);
}

.icon_container {
    color: black;
}

.row_children {
    width: 95%;
    align-self: flex-end;
}